a {
  color: black;
}
a:hover {
  color: #c0604f;
}

h5 {
  font-size: 15px;
}

.product_Area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product_img_1 {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.productBox1 {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  margin: 5px;
}

.productBoxBody {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.btn-primary {
  background-color: rgb(249, 217, 76);
}
.btn-primary:hover {
  background-color: #c0604f;
}

#user-loginedlogo {
  width: 28px;
  height: 28px;
  margin-right: 4px;
}
