.product_Area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product_img_1 {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.productBox1 {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  margin: 10px;
}

.btn-primary {
  background-color: aliceblue;
}
