body {
  background-color: #ece9e6 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-weight: bold;
}

.Title {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  width: 1300px;
}

#logingButton {
  margin-right: 20px;
}
#username-display {
  display: flex;
  position: relative;
  align-items: last baseline;
  left: 200px;
}
#mobile-bar {
  width: 1300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#searchBar {
  background-color: #ffffff !important;
  width: 1500px;
  justify-content: space-between;
}
.navbar {
  width: 3000px;
  background-color: #c0604f !important;
  font-weight: bold;
  display: flex;
  justify-content: center;
  height: 50px;
  margin-bottom: 50px;
}
#carouselExampleIndicators {
  display: flex;
  justify-content: center;
  width: 1200px;
  height: 500px;
  margin-bottom: 100px;
}

#textTittle {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 1200px;
}

.TextCenter {
  width: 1000px;
  align-items: center;
  display: flex;
}

.aboutUs {
  width: 2000px;
  height: 450px;
  background-color: #c0604f;
  border-radius: 0%;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.Comment {
  width: 2000px;
  height: 450px;
  background-color: #4fc0ba;
  border-radius: 0%;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

/* photos */

.twelvecolumns {
  flex-wrap: wrap;
  width: 2000px;
  height: 100px;
}

.pair-title {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pair-sub {
  font-size: 14px;
}

#button2 {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: relative;
  top: 50px;
}

.row {
  width: 1200px;
  flex-wrap: wrap;
  height: 250px;
}
.productcol {
  width: 290px;
}

#footer_payment {
  width: 1000px;
  height: 100px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  border: solid 1px;
  color: black;
}

.card {
  border: solid 10px rgb(255, 255, 255);
  height: 320px;
  border-radius: 20px;
}

.card-body {
  padding: 0;
  width: 120px;
}

.card-title {
  font-size: 15px;
  width: 250px;
}

.text-center {
  text-align: left !important;
}
#navbarDropdownMenuLink:hover {
  color: black;
  display: block;
}

.text141 {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 20px;
  background-color: #c5d3d6;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  width: 1000px;
  height: 500px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 60px;
  border-radius: 25px;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 7s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
