.col-10 {
  width: 1200px;
  display: flex;
  justify-content: center;
}

.cartRow {
  width: 1100px;
  padding: 20px;
  border-bottom: solid 1px;
}

.Bigcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.payCard-body {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.pcard {
  height: 180px;
  display: flex;
  flex-wrap: wrap;
}

.btn-warning:hover {
  background-color: #c0604f;
}

#user-loginedlogo {
  width: 28px;
  height: 28px;
  margin-right: 4px;
}
