body {
  background-color: rgb(238, 238, 238) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-weight: bold;
}

#mobile-bar {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
}
#searchBar {
  background-color: rgb(238, 238, 238) !important;
  width: 1500px;
  justify-content: space-between;
}
.navbar {
  width: 2000px;
  background-color: rgb(238, 238, 238) !important;
  font-weight: bold;
}

#carouselExampleIndicators {
  display: flex;
  justify-content: center;
  width: 1200px;
  height: 500px;
  margin-bottom: 100px;
}

#sliderPhotoOutside {
  margin-right: 90%;
  width: 0%;
  justify-content: center;
}

#sliderPhoto {
  height: 500px;
  width: 1100px;
}

.TextCenter {
  width: 1000px;
  align-items: center;
  display: flex;
}

.carousel-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo2 {
  width: 150px;
  background-color: rgb(255, 255, 255);
}

/* photos */

.img-fluid {
  border: solid;
  border-color: white;
  border-width: 10px;
}

#photoBox {
  width: 10px;
}

.twelvecolumns {
  flex-wrap: wrap;
  width: 2000px;
  height: 100px;
}

.pair-title {
  font-size: 14px;
}

.pair-sub {
  font-size: 14px;
}

#button2 {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: relative;
  top: 50px;
}

.widget-title {
  font-size: 15px;
}

.img-fluid2 {
  width: 590px;
}

.post-copy {
  width: 590px;
  font-size: 20px;
  background-color: white;
}

.post-mid {
  background-color: white;
  width: 590px;
}
.post-meta {
  background-color: white;
  flex-wrap: wrap;
  width: 580px;
  font-size: 15px;
  margin: 5px;
}

.card {
  border: solid 10px rgb(255, 255, 255);
  border-radius: 0;
  height: 280px;
  font-size: 12px;
}
.row {
  width: 1200px;
  flex-wrap: wrap;
  height: 250px;
}
.col {
  width: 150px;
  height: 300px;
}

.btn {
  font-size: 9px;
  background-color: rgb(187, 187, 187);
  border-radius: 0;
  border: solid 0px;
  color: black;
  font-weight: bold;
  margin-right: 39px;
}

.card-body {
  padding: 0;
  width: 120px;
}

.card-title {
  font-size: 13px;
  width: 120px;
  height: 15px;
  margin: 5px;
  align-items: last baseline;
  display: flex;
}

.text-center {
  text-align: left !important;
}
