body {
  background-color: #ece9e6 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-weight: bold;
}

.Title {
  font-size: 70px;
  font-variant-caps: small-caps;
  letter-spacing: 3rem;
}

.containerText-center {
  width: 1200px;
}
#mobile-bar {
  width: 1800px;
  /* height: 900px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#searchBar {
  background-color: #ffffff !important;
  width: 1500px;
  justify-content: space-between;
}
.navbar {
  width: 5000px;
  background-color: #c0604f !important;
  font-weight: bold;
  display: flex;
  justify-content: center;
  height: 50px;
  border-radius: 0%;
}
#carouselExampleIndicators {
  display: flex;
  justify-content: center;
  width: 1200px;
  height: 500px;
  margin-bottom: 100px;
}

#textTittle {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 1200px;
}

.TextCenter {
  width: 1000px;
  align-items: center;
  display: flex;
}

.aboutUs {
  width: 2000px;
  height: 450px;
  background-color: #c0604f;
  border-radius: 0%;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.Comment {
  width: 2000px;
  height: 450px;
  background-color: #4fc0ba;
  border-radius: 0%;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

#logo2 {
  width: 150px;
  background-color: #b0e0e6;
}

/* photos */

.img-fluid {
  border: solid;
  border-color: #ffffff;
  border-width: 10px;
}

#photoBox {
  width: 10px;
}

.twelvecolumns {
  flex-wrap: wrap;
  width: 2000px;
  height: 100px;
}

.pair-title {
  font-size: 14px;
}

.pair-sub {
  font-size: 14px;
}

#button2 {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  position: relative;
  top: 50px;
}

.widget-title {
  font-size: 15px;
}

.img-fluid2 {
  width: 590px;
}

.post-copy {
  width: 590px;
  font-size: 20px;
  background-color: white;
}

.post-mid {
  background-color: white;
  width: 590px;
}
.post-meta {
  background-color: white;
  flex-wrap: wrap;
  width: 580px;
  font-size: 15px;
  margin: 5px;
}

.card {
  border: solid 10px rgb(255, 255, 255);
  height: 320px;
  border-radius: 20px;
}

.row {
  width: 1200px;
  flex-wrap: wrap;
  height: 250px;
}
.col {
  width: 150px;
  height: 300px;
}

.btn {
  font-size: 9px;
  background-color: rgb(187, 187, 187);
  border-radius: 0;
  border: solid 0px;
  color: black;
  font-weight: bold;
  margin-right: 39px;
}

.card-body {
  padding: 0;
  width: 120px;
}

.card-title {
  font-size: 15px;
  width: 250px;
}

.text-center {
  text-align: left !important;
}

#navbarDropdownMenuLink:hover {
  color: black;
  display: block;
}
